.el
  width: 100px
  height: 100px
  background: cyan

.character
  color: white
  font-size: 68px
  position: absolute
  left:0
  top: 0
  bottom: 0
  right:0
  text-align: center
  line-height: .475
  font-family: Oswald, monospace

.add-button
  overflow: hidden
  border-radius: 50%

.modal-wrapper
  position: absolute
  width: 248px
  height: 184px
  margin-left: -124px
  margin-top: -92px
  left: 50%
  top: 50%
  z-index: 1

.modal,
.modal__shake
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.modal-shape
  border-radius:  35px
  box-shadow:     5px 5px 0 rgba(0,0,0,.25)
  overflow:       hidden